/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark gray text color */
    line-height: 1.6;
    padding: 20px;
}

/* Header styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styles */
label {
    font-weight: bold;
    margin-right: 10px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    background-color: #007bff; /* Blue button */
    color: #fff; /* White text color */
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Loading indicator styles */
#loading {
    display: none;
    margin-bottom: 20px;
}

/* Chart container styles */
.chart-container {
    background-color: #fff; /* White background for charts */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    display: inline-block;
}

.chart-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Chart info styles */
.chart-info {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* Chart timer styles */
.chart-timer {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* CSS for the export to PDF button */
.export-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.export-btn:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

.chart-container {
    position: relative;
    width: 1000px; /* Increase the width */
    height: 600px; /* Increase the height */
    display: inline-block;
    margin: 20px;
}

#loading {
    position: fixed;
    top: 20px; /* Adjust the distance from the top as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 5px; /* Add padding for better visibility */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Adjust font size as needed */
    color: #333; /* Text color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow */
    z-index: 1000; /* Ensure it's above other elements */
    width: auto; /* Adjust the width automatically based on content */
    max-width: 80%; /* Maximum width of 80% of the viewport */
    min-width: 100px; /* Minimum width of 100px */
    height: auto; /* Adjust the height automatically based on content */
    max-height: 200px; /* Maximum height of 200px */
    overflow: auto; /* Enable scrolling if content exceeds the maximum height */
  }
  
  
  